/* HOVERS */

* {
    color: #04B2D9;
}

/* TEXT-TITLE */

* {
    color: black;
}

/* TEXT-DESCRIPTIONS */

* {
    color: #7A7A7A;
}

/* USUAL COLORS */

* {
    color: #02365f ;
    color: #04d1ec9a ;
}